@import './reset.css';
@import './setup.css';
@import './variables.css';
@import './structure.css';
@import './typography.css';
/*#app {
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
		url('/images/Funko-Pop-Figures.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 30px;
	min-height: 100vh;
}*/

html {
	--scaffoldPadding: 8px;
	--paper: white;
	--ink: black;
}

#app {
	background-color: var(--paper);
	color: var(--ink);
}

@media (prefers-color-scheme: dark) {
	#app {
		background-color: var(--ink);
		color: var(--paper);
	}
}

/* FIGURE CARD COMPONENTS */

figure-card {
	display: grid;

	gap: var(--scaffoldPadding);
}

figure-card h3 {
	font-family: 'Bangers';
	text-align: center;
}

.price-wrapper,
.add-to-cart,
.more-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.add-to-cart button {
	border: 3px solid black;
	background: var(--paper);
	color: var(--ink);
	font-family: 'Bangers';
	font-size: 20px;
	padding: 12px;
}

.add-to-cart button:hover {
	border: 3px solid var(--ink);
	background: var(--ink);
	color: var(--paper);
	font-family: 'Bangers';
	font-size: 20px;
	padding: 12px;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
}

.price-wrapper p,
.more-info {
	font-family: 'Bangers';
	font-size: 18px;
}

.more-info a {
	color: var(--vividMulberry);
}

.more-info a:hover {
	color: red;
}

/*SCAFFOLDING*/

.subpage-links {
	border: 1px dashed white;
}

.inner-column {
	border: 1px dashed orange;
	padding: var(--scaffoldPadding);
}

figure-card,
:is(figure-card) :is(p, a, picture, h3),
h2,
.figure-list,
.outlet {
	border: 1px dashed white;
	padding: 8px;
}
