@import './reset.css';
@import './setup.css';
@import './structure.css';
@import './typography.css';
/*#app {
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
		url('/images/Funko-Pop-Figures.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 30px;
	min-height: 100vh;
}*/

html {
	--scaffoldPadding: 8px;
	--paper: white;
	--ink: black;
}

#app {
	background-color: var(--paper);
	color: var(--ink);
}

@media (prefers-color-scheme: dark) {
	#app {
		background-color: var(--ink);
		color: var(--paper);
	}
}

/*SCAFFOLDING*/

.subpage-links {
	border: 1px dashed white;
}

.inner-column {
	border: 1px dashed orange;
	padding: var(--scaffoldPadding);
}

figure-card,
:is(figure-card) :is(p, a, picture, h3),
h2,
.figure-list,
.outlet {
	border: 1px dashed white;
	padding: 8px;
}
