#app {
	--defaultPadding: 27px 27px 0px 27px;
	--standardMargin: 26px; /* was 16px */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0px var(--standardMargin) 0px var(--standardMargin);
}

/* setting up the sticky footer */

header {
	margin-top: var(--standardMargin);
}

.outlet {
	flex: 1;
}

menu-wrapper {
	display: flex;
	justify-content: space-evenly;
}

code {
	font-family: 'Courier';
	color: green;
	background-color: white;
}

inner-column {
	display: block;
	margin: 0 auto;
}

/*body needs to be 100vh for big screens */

@media (min-width: 960px) {
	#app {
		min-height: 100vh;
	}

	inner-column {
		max-width: 700px;
	}
}
