#app {
	--defaultPadding: 27px 27px 0px 27px;
	--standardMargin: 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* setting up the sticky footer */

.outlet {
	flex: 1;
}

menu-wrapper {
	display: flex;
	justify-content: space-evenly;
}

code {
	font-family: 'Courier';
	color: green;
	background-color: white;
}

.inner-column {
	display: block;
	margin: 0 auto;
}

/*body needs to be 100vh for big screens */

@media (min-width: 960px) {
	#app {
		min-height: 100vh;
	}

	.inner-column {
		max-width: 960px;
	}
}
