body {
	font-family: 'Sen';
}

h1 {
	font-size: 36px;
	text-align: center;
}

h2 {
	font-family: 'Bangers';
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}

figcaption {
	font-size: calc(20px + 1vw);
}

.normal-voice {
	font-family: 'Fredoka One';
}

.energy-voice {
	font-family: 'Bangers';
}

module-header {
	display: block;
	text-align: center;
	font-family: 'Bangers';
	font-size: 36px;
	margin: 0.8em 0px 0.7em 0px;
}

module-header h2,
module-header #letters-container {
	font-family: 'Bangers';
	font-size: 36px;
}

module-header h3 {
	font-size: 24px;
	margin-top: 0.3em;
}
