body {
	font-family: 'Sen';
}

h1 {
	font-size: 36px;
	text-align: center;
}

h2 {
	font-family: 'Bangers';
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}

figcaption {
	font-size: calc(20px + 1vw);
}

.normal-voice {
	font-family: 'Fredoka One';
}

.energy-voice {
	font-family: 'Bangers';
}
